@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
body {
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
	font-family: 'Nunito Sans', sans-serif;
    overflow: hidden; 
}
/* Botão Pular */
#pular {
    margin-top: 10%;
    margin-left: 10%; 
    margin-right: 10%;
    text-align: right;
    color: #6E6E6E;
    font-size: 15px;
    text-decoration: none;
}
a:link { 
 text-decoration: none;
}
a:hover {
 text-decoration: none;
}
/* Texto: Apresentação */
#apresentacao {
    font-size: 13pt;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    color: #6E6E6E;
    font-weight: bold;
}
/* Imagem: Boas Vindas1 */
.boasvindas1img {
    display:flex;
    justify-content: center;
    align-items: center; 
}
/* Texto: Bem Vindo1 */
.bemvindo1 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    color: #6E6E6E;
    width: 80%;
    text-align: center;
    font-size: 12pt;
}
/* Imagem: Carrosel */
.carroselimg {
    margin-top: 10%;
    display:flex;
    justify-content: center;
    align-items: center; 
}
/* Botão Próximo */
#proximo {
    position: fixed; 
    margin-top: 15%;
    width: 80%;
	background-color: #4ED5F9; 
	height: 50px; 
	border-radius: 20px; 
	color: white;
	font-size: 15pt;
	font-weight: bold;
    box-shadow: 1px 4px 4px #c4c4c4;
    border: 0 none;
}
a#botaoproximo{
    display: flex;
    justify-content: center;
}
